@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>部门管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Deptinfo.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="DeptinfoTableToolbar" role="group">
                            @if(shiro.hasPermission("/deptinfo/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Deptinfo.openAddDeptinfo()"/>
                            @}
                            @if(shiro.hasPermission("/deptinfo/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Deptinfo.openDeptinfoDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/deptinfo/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Deptinfo.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="DeptinfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/SX/deptinfo/deptinfo.js"></script>
@}
